<div class="row my">
  <div class="col-6"><h1>Welcome to blackjack</h1></div>
  <div class="col-6 col-centered">
    <%= button_tag(:type => 'button') do %>
        <% link_to "game start", setup_games_path, class: "'button btnBorder btnOrange'" %>
      <% end %>
  </div>
</div>